html {
    scroll-behavior: smooth;
    height: 100%;
}

h1 {
    align-items: center;
    text-align: center;
}

main {
    padding: 40px;
}

body {
    height: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    color: #393939;
    margin: auto;
}

#nav-bar {
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: #ebebeb;
    height: 30px;
    width: 100%;
    font-size: 20px;
    color: white;
    text-decoration: none;
    box-shadow: 0px 5px 5px -6px rgba(0, 0, 0, .5);
    text-align: right;
    word-spacing: 10px;
    padding-right: 10px;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.nav-link {
    color: #393939;
    text-decoration: none;
    font-size: 20px;
}

.nav-link:hover {
    color: #fff;
    text-decoration: none;
}

#intro {
    text-align: center;
}

#intro-video {
    text-align: center;
    width: 100% !important;
    height: auto !important;
}

#product-container {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 12px;
    font-size: 14px;
    color: black;
    text-align: center;
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
}

#product1 {
    background-color: #ffffff;
    margin-left: 5px;
    margin-right: 5px;
    max-width: 300px;
    flex-wrap: wrap;
    padding: 5px;
    text-align: center;
}

#product2 {
    background-color: #ffffff;
    margin-left: 5px;
    margin-right: 5px;
    max-width: 300px;
    flex-wrap: wrap;
    padding: 5px;
    text-align: center;
}

#product3 {
    background-color: #ffffff;
    margin-left: 5px;
    margin-right: 5px;
    max-width: 300px;
    flex-wrap: wrap;
    padding: 5px;
    text-align: center;
}

.contact-section {
    /*position: relative;*/
    width: auto;
}

footer {
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    text-align: center;
    box-sizing: border-box;
    position: relative;
}

#logo {
    margin: auto;
    text-align: center;
}

h3 {
    font-size: large;
}

.product-title {
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #393939;
}

.product-title:hover {
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
    color: #393939;
}

.abutton {
    display: inline-block;
    padding: 0.5em 3em;
    border: 0.16em solid #b1b1b1;
    margin: 0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #393939;
    text-align: center;
    transition: all 0.15s;
}

.abutton:hover {
    color: #DDDDDD;
    border-color: #DDDDDD;
}

.abutton:active {
    color: #BBBBBB;
    border-color: #BBBBBB;
}

@media all and (max-width:30em) {
    .abutton {
        display: block;
        margin: 0.4em auto;
    }
}

input[type=email] {
    width: 400px;
    padding: 12px 20px;
    margin: 0 0.3em 0.3em 0;
    box-sizing: border-box;
}


/*
@media (max-width: 100%; max-height: 100%) {
    
}*/